<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Exam Practice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @font-face {
            font-family: 'Nirmala UI';
            src: url("{{ url_for('static', filename='fonts/NirmalaUI-Regular.ttf') }}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>

    <script>
        window.PROFILES = {{ profiles_json | safe }};
        window.PASSAGES = {{ passages_json | safe }};
        window.CONFIG = {
            totalMarks: {{ total_marks }},
            passMarks: {{ pass_marks }},
            maxMistakes: {{ max_mistakes }},
            companyName: {{ company_name | tojson }},
            companyPhone: {{ company_phone | tojson }},
            companyTagline: {{ company_tagline | tojson }},
            img1: "{{ url_for('static', filename='images/img1.png') }}",
            img2: "{{ url_for('static', filename='images/img2.png') }}"
        };
    </script>
    <script type="text/babel" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
